/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Style*/

@font-face {
    font-family: 'muli';
    src: url(../MyWebsite/Font/muli-semibold-webfont.woff) format('woff');
} 

body{
    font: 18px/36px "muli", "Arial Narrow", arial, sans-serif; 
    background-color: white;
    color: #333;
    background-image: url();
}

.container {
    width: 960px;
    margin:auto;
    background-color:whitesmoke;
 }

/* Navbar */
.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 28px;
    margin-top: 20px;
    margin-right: 10px;
    align-items: center;
    top: 0px;
    width: 950px;
    z-index: 9999;
    background-color: antiquewhite;
}

navbar.ul {
    display: flex;
    list-style-type: none;
    width: 40%;
}

.navbar .judul{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
}

.navbar ul li {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
}

.navbar a {
    text-decoration: none;
    color:black;
    padding: 1px;
}

.navbar a:hover {
    background-color: lightcoral;
    color: white;
}

/* Resonsif Breakpoint*/

/* Ukuran Tablet*/
@media screen and (max-width: 768px) {
    navbar ul {
        width: 50%;
    }
}

/* Ukuran mobile*/
@media screen and (max-width: 576px) {
    navbar ul {
        display: none;
    }
}

.hero { 
    height: 0px;
    background-size: cover;
    background-position: 0 -500px;
    border-top: 5px solid lightcoral;
}

.banner {
    background-color: bisque;
    height: 600px;
    text-align: center;
    margin-bottom: 200px;
}

.banner img{
    border-radius: 50%;
    height: 250px;
    border: 6px solid whitesmoke;
    margin-top: 50px;
}

.banner h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.banner button {
    margin-top: 50px;
    padding: 4px;
    width: 300px;
    border-radius: 50px;
    border: none;
    font: 18px/36px "muli", "Arial Narrow", arial, sans-serif; 
}

.banner button:hover {
    background-color: burlywood;
    border: 1px solid white;
}

h1 span::before {
    content:'';
    animation: gerak infinite 8sc ease;
    transform: translateY(-50%);
    color: burlywood;
    font-family: 70px;
}
.main {
    width: 600px;
    padding: 20px;
    box-sizing: border-box;
    float: left;
}

.main h2 {
    font-size: 28px;
    font-weight: bold;
}


/* Footer*/
.footer {
    background-color: #333;
    padding: 10px;
}

.footer .copy {
    color:#eaeaea ;
    text-align: center;
    font-size: 12px;
}

/*clearfix*/

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
}
